@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(29, 29, 29, 0.87);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;                /* thin scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;    /* scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}


